.font-color{
    color: #fff;
}
.font-size{
    font-size: 12px;
}
a{
    text-decoration: none;
}
.common-style{
    display: block;
    height: 41px;
}
.common-style:hover{
        color: #ff0000;
        text-decoration: underline;
}
.triangle{
    position: relative;
}
.triangle::after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px;
    border-color: #BBBBBB transparent transparent transparent;
    position:absolute;
    right: 5px;
    top:15px;
}
.myInfo>li:hover>.triangle::after{
    transform: rotate(180deg);
    transform-origin:3px 1.5px;
    transition: transform .2s linear;
}
.common-style:hover{
    background-color: #fff;
    border-width: 1px;
    border-style: 1px;
   
}
.myInfo>.my-taobao:hover{
    border-color: #bbbbbb #bbbbbb transparent #bbbbbb;

}