/* site-nav:begin */
.site-nav{
    width: 100%;
    height: 41px;
    background-color: #550283;
    box-shadow: 0 1px 5px 1px #550283;
}

.site-nav>.wrap>.form{
    width: 218px;
    height: 32px;
}
.site-nav>.wrap>.myInfo{
    width: 528.97px;
    height: 41px;
}
.login-info{
    float: left;
}
.login-info>li:first-child{
    margin-top:2px;
}
.login-info>li{
    float: left;
    line-height: 32px;
    margin-right: 22px;
}
.myInfo>li{
    float: left;
    line-height: 32px;
}
.myInfo{
    float: right;
}
.myInfo>li>a,.login-info>li>a{
    color: #fff;
    font-size: 12px;
}
.car-link:hover,.mobile:hover,.home:hover{
    color: #FFE013;
}
.myInfo>li>a{
    display: block;
}
.myInfo>li>a.taobao{
    width: 74px;
    height: 40px;
}
.myInfo>li>a.car-link{
    width: 93.97px;
    height: 33px;

}
.myInfo>li>a.favorite{
    width: 62px;
    height: 40px;
}
.myInfo>li>a.mobile{
    width: 71.28px;
    height: 33px;
}
.myInfo>li>a.home{
    width: 56px;
    height: 32px;
}
.myInfo>li>a.seller{
    width: 74px;
    height: 40px;
}
.myInfo>li>a.sitemap{
    width: 89.72px;
    height:40px;
}
.myInfo>li>a{
    text-align: center;
}
.menu-right1{
    width: 96px;
}
.menu-right1,.menu2-right3{
    height: 97px;
    border-width: 1px;
    border-style:  solid;
    border-color: transparent #bbbbbb #bbbbbb #bbbbbb ;
    display: none;
    position: absolute;
    left:-1px;
    top:32px;
    background-color: #fff;
}
.menu-right1 a{
    color: #666;
    width: 74px;
    height: 40px;
    display:block;
    margin: 0 auto;
}
.menu-right1 a:hover,.menu2-right3 a:hover{
    color: #ff0000;
    text-decoration: underline;
}
.my-taobao,.my-favorite{
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}
.myInfo>li:hover>ul{
    display: block;
}
.my-taobao:hover>a,.my-favorite:hover>a{
    background-color: #fff;
    color: #ff0000;
}
.menu2-right3{
    width: 84px;
    z-index: 2;
}
.menu2-right3 a{
    color: #666;
    width: 62px;
    height: 40px;
    display:block;
    margin: 0 auto;
}
.mobile-link{
    position: relative;
}
.qrcode{
    width: 175px;
    height: 227px;
    background-color:#fff;
    border: 1px solid #DBDBDB;
    position: absolute;
    top:32px;
    left: -45px;
    display: none;
    z-index: 2;
}
.qrcode::after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px;
    border-color: #fff;
    position: absolute;
    top:-5px;
    left: 75px;
    transform: rotate(45deg);
}
.qrcode>li:last-child{
    text-align: center;
    margin-top:10px;
}
.seller-support{
    width: 144px;
    height: 268px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: transparent #EEEEEE #EEEEEE #EEEEEE;
}
.seller-menu-item{
    position: relative;
}
.seller-support{
    position: absolute;
    top:32px;
    right: 0;
    display: none;
}

.seller>li:not(first-child),.help>li:not(first-child){
    float: left;
    margin-top:-3px;
}
.seller>li:nth-child(2),.help>li:nth-child(2){
    clear: both;
}
.seller>li:first-child,.help>li:first-child{
    font-weight: bolder;
    color: #666666;
    margin-left: 12px;
}
.seller>li>a{
    display: block;
    width: 48px;
    height: 40px;
}
.seller>li:nth-child(2n),.help>li:nth-child(2n){
    margin-left: 12px;
    margin-right: 25px;
}
.seller-support a{
    color: #666666;
}
.seller-info>.seller,.help{
    border-style: dotted;
    border-width: 1px;
    border-color: transparent transparent  #666 transparent;
}
.seller{
    width: 140px;
    height: 187px;
}
.help,.seller{
    padding-bottom: 7px;
}
.seller-support a:hover{
    color: #FF0036;
    text-decoration: underline;
}
.seller-menu-item:hover>a{
    background-color: #fff;
    color: #FF0036;
}
.sitemap{
    position: relative;
}
.sitemap:hover>a{
    background-color: #fff;
    color: #FF0036;
}
.sitemap-item{
    width: 1200px;
    height: 161px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent #eeeeee #eeeeee #eeeeee;
    position: absolute;
    top:32px;
    right: 0px;
    background-color: #fff;
    display: none;
}
.hot,.market,.service-guide{
    height: 118px;
    float: left;
    margin-top:24px;
}
.hot{
    width: 458px;
    border-right: 1px solid #F5F5F5;
    margin-left: 25px;
}
.market{
    width: 489px;
    border-right: 1px solid #f5f5f5;
}
.service-guide{
    width: 222px;
}
.hot li,.second li,.three li{
    float: left;
    width: 91px;
    height: 28.8px;
    font-size: 12px;
}
.first>li:first-child,.second>li:first-child,.three>li:first-child{
    font-size: 17px;
    width: 485px;
}
.first>li:first-child{
    color: #F57821;
}
.second>li:first-child{
    color: #6C78DF;
}
.three>li:first-child{
    color: #737373;
}
.second,.three{
    margin-left: 20px;
}
.first>li:nth-child(2),.second>li:nth-child(2),.three>li:nth-child(2){
    clear: both;
}
.sitemap-item a{
    color:#666666;
}
.sitemap-item a:hover{
    color:#eb2929;
    text-decoration: underline;
}
/* site-nav:end */

/* side-card:begin */
.side-card{
    width: 35px;
    position: fixed;
    right: 0;
    top:0;
    bottom: 0;
    background-color: #000;
}

/* side-card:end */
/* homepage:begin */
.homepage{
    height: 1356px;
    background: url(../imgs/main-background-image.png);
}
.logo{
    margin-left: 18px;
    float: left;
}
.homepage-form{
    height: 150px;
    overflow: hidden;


}
.form-content{
    width: 625px;
    height: 34px;
    border: 3px solid #fff;
    margin: 37px auto 0 auto;
    position: relative;
}
.form-content>input:first-child{
    width: 491px;
    height: 36px;
    border: none;
    background-color:transparent;
    box-sizing: border-box;
    padding-left:15px;
    float: left;
    font-size: 16px;
    color: #fff;
}
.form-content>input:last-child{
    width: 132px;
    height: 36px;
    border: 0;
    position: absolute;
    top:0;
    right: 0;
    background-color: #fff;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 700;
    color: #FF0036;
    cursor: pointer;
}
.hot-query{
    width: 625px;
    height: 28px;
    border: 3px solid #fff;
    margin: 0 auto;
}
.hot-query>li{
    width: 67px;
    height:15px;
    float: left;
    margin-top:5px;
    font-size: 14px;
}
.hot-query>li:nth-child(2)>a{
    color:#fff;
}
/* homepage:end */


