/* site-nav:begin */
.site-nav{
    width: 100%;
    height: 41px;
    background-color: #550283;
    
}
.wrap{
    width:1230px;
    height: 32px;
   margin: 0 auto;
}
.site-nav>.wrap>.form{
    width: 218px;
    height: 32px;

}
.site-nav>.wrap>.myInfo{
    width: 528.97px;
    height: 41px;
}
.login-info{
    float: left;
}
.login-info>li{
    float: left;
    line-height: 32px;
   margin-right: 22px;
}
.myInfo>li{
    float: left;
    line-height: 32px;
  
}


.myInfo{
    float: right;
}

.myInfo>li>a,.login-info>li>a{
    color: #fff;
    font-size: 12px;

}
.car-link:hover,.mobile:hover,.home:hover{
    color: #FFE013;
}
.myInfo>li>a{
    display: block;
}
.myInfo>li>a.taobao{
    width: 74px;
    height: 40px;
}

.myInfo>li>a.car-link{
    width: 93.97px;
    height: 33px;
  
}
.myInfo>li>a.favorite{
    width: 62px;
    height: 40px;
}
.myInfo>li>a.mobile{
    width: 71.28px;
    height: 33px;
}
.myInfo>li>a.home{
    width: 56px;
    height: 32px;
}
.myInfo>li>a.seller{
    width: 74px;
    height: 40px;
}
.myInfo>li>a.sitemap{
    width: 89.72px;
    height:40px;
}
.myInfo>li>a{
    text-align: center;
}
.menu-right1{
    width: 96px;
    height: 97px;
    border: 1px solid #bbbbbb;
    display: none;
    position: absolute;
    top:32px;
    background-color: #fff;
}

.menu-right1 a{
    color: #666;
    width: 74px;
    height: 40px;
    display:block;
    margin: 0 auto;
    
}
.menu-right1 a:hover{
    color: #ff0000;
        text-decoration: underline;
}
.my-taobao{
    position: relative;
}
.my-taobao:hover>ul{
    display: block;
}


