*{
    margin: 0;
    padding:0;
}
div{
    width: 1360px;
    height: 30px;
    background: #F2F2F2;
}
li{
    list-style: none;
    float: left;
    margin-right: 25px;

}
.register{
    margin-right: 490px;
}
.wecome,.login,.register{

}
.my_taobao,.shopping_car,.collect,.phone,.taobao,.sell,.nav{

}


a{
    display: block;
    text-decoration: none;

}

li,a{
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    color: #999999;

}
.wecome{
    margin-left: 45px;
}
a:hover{
    color: red;
}
