*{
    margin: 0;
    padding:0;
}
li{
    list-style: none;
}
.head_nav{
    height: 35px;
    width: 1365px;
    background-color: #F2F2F2;
}
.left_nav_son>li{
    float:left;

}

.right_nav_son{
    float:right;
   width: 700px;

}
.right_nav_son>li{
    float: left;
}

.head_nav{
    font-size: 12px;
}
.head_nav .left_nav_son>li{
     text-align: center;
     line-height:35px ;
    margin-right: 20px;
 }
.head_nav .right_nav_son>li{
    text-align: center;
    line-height:35px ;
    margin-left: 20px;
}
.welcome{
    margin-left: 22px;
}
.shopping_guide{
    margin-right: 80px;
}
.head_nav a{
    text-decoration: none;
}

.head_nav .my_taobao:hover>a{
    color: red;
}
.head_nav .collect:hover>a{
    color: red;
 }
.head_nav .sell:hover>a{
    color: red;
}


a,li{
    color: #999999;
}
.head_nav a:hover{
    color: red;
    text-decoration: underline;
}
.dashed{
    height: 0;
    border-bottom:  1px #999999  dashed;
    width: 70%;
   position: relative ;
    left:20px;
}
.merchant>a{
    display: inline-block;
    margin-right:5px;
    width:50px;
}
.sell_son{
    height: 260px;
    width:150px;
    overflow:hidden;

}
.my_taobao:hover,.collect:hover,.sell:hover{
    background-color: white;

}
.thing,.favorite,.sell_son{
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.triangle{
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    border-top:5px #BBBBBB solid;
    border-bottom:4px transparent solid;
    border-right: 4px transparent solid;
    border-left: 4px transparent solid;
}
.thing,.favorite,.sell_son{
    display: none;
}
.my_taobao:hover>.thing,.collect:hover>.favorite{
    display: block;
}

.sell:hover>.sell_son{
  display:block;
}

