*{
    margin: 0;
    padding:0;
}
div{
    width: 1360px;
    height: 30px;
    background: #F2F2F2;
}
li{
    list-style: none;
}

div>ul>li{

    float: left;
    margin-right: 20px;

}
.register{
    margin-right: 490px;
}

 a{
    display: block;
    text-decoration: none;

}

li,a{
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    color: #999999;

}



.wecome{
    margin-left: 45px;
}
a:hover{
    color: red;
    text-decoration: underline;
}
img{
    display: inline;
}
.my_taobao:hover,.collect:hover,.sell:hover,.nav:hover{
    background:white;
}
.Business_support>li>a{
    display: inline;
    margin-right:20px;
}
.my_taobao>ul{
    display: none;
}
.Business_support{
    display: none;
}
.my_taobao:hover>ul,.collect:hover>ul{
    display: block;
}