*{
    margin:0;
    padding: 0;
}
li{
    list-style: none;
}
.top_nav{
    height: 35px;
    width: 1365px;
    background-color: #F2F2F2;
}
.top_nav_left .left_nav_son>li{
    float: left;
}
.top_nav_left{
    float: left;
}

.top_nav_right .right_nav_son>li{
    float: left;

}
.top_nav_right{
    float: right;
}
.top_nav_left .left_nav_son>li {
    line-height: 35px;

}
.top_nav_right .right_nav_son>li{
    line-height: 35px;


}
.top_nav a{
    text-decoration: none;
}
.top_nav_left>.left_nav_son>li{
    font-size: 12px;

}
.left_nav_son>li,.left_nav_son>li>a{
    color: #999999;
}
.welcome{
    margin-left: 42px;
}
.left_nav_son li{
    margin-right: 21px;
}
.left_nav_son>li>a:hover{
    color: #ff0000;
}
/*.left_nav{
    padding-right: 22px;
}*/
.top_nav_right>.right_nav_son>li{
    font-size: 12px;

}
.right_nav_son>li,.right_nav_son>li>a{
    color: #999999;
}
.shopping_guide{
    margin-right: 83px;
}
.right_nav_son>li{
    margin-left: 23px;
}
.triangle{
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-top-color:#BBBBBB ;
    border-bottom-color:transparent;
    border-left-color:transparent ;
    border-right-color:transparent;
    display: inline-block;
    width: 0;
    vertical-align: middle;

}
.right_nav_son>li>a:hover{
        color: #ff0000;
}
.taobao:hover,.collect:hover,.sell:hover,.shopping_guidea:hover{
    text-decoration:underline;

}
.thing>li>a,.favorite li>a,.sell_son>li>a {
    color:#666666;
}


.thing>li>a:hover,.favorite li>a:hover,.sell_son>li>a:hover{
    color:#ff0000;
    text-decoration: underline;
}
.shopping_guide  a{

    color:#666666;

}
.shopping_guide a:hover{
    color:#ff0000;
    text-decoration: underline;

}
.thing,.favorite{
    display: none;
}
.right_nav_son li:hover .thing{
    display: block;
}
.right_nav_son li:hover .favorite{
    display: block;
}
.my_taobao,.my_collect,.my_sell{
    position: relative;
}

.my_taobao:hover,.my_collect:hover,.my_sell:hover{
  background-color:#ffffff ;
}
.thing,.favorite{
    width: 95px;
    height: 58px;
    position:absolute;
    top:35px;

    border-left: 1px #EEEEEE solid ;
    border-right: 1px #EEEEEE solid ;
    border-bottom: 1px #EEEEEE solid ;
}
.right_nav_son>li{
    width: 75px;
    text-align: center;
    line-height:29px;

}
.thing>li{
    margin-top: 5px;
    line-height:21px;
    margin-left: 3px;
}
.collect>li{
    margin-top: 1px;
    line-height:21px;
    margin-left: 3px;
}
.sell_son{
    display: none;
}
.right_nav_son li:hover .sell_son{
    display: block;
}

.sell_son{
    width: 145px;
    height: 180px;
    position:absolute;
    top:35px;
    border: 1px saddlebrown solid;
}
.sell_son>li{
    display: inline-block;

}
.shops{
    margin-right: 70px;
}







