*{
    margin:0;
    padding: 0;
}
li{
    list-style: none;
}
.top_nav{
    height: 35px;
    width: 100%;
    background-color: #F2F2F2;

}
.top_nav a{
    text-decoration: none;
}
.common{
    width: 1230px;
    height:35px ;
    margin: 0 auto;
}


.left_nav_son>li{
    float: left;
}
.left_nav_son{
    float: left;
}
.left_nav_son>li {
    line-height: 35px;
}
.left_nav_son>li{
    font-size: 12px;
}
.left_nav_son li{
    margin-right: 21px;
}
.left_nav_son>li>a:hover{
    color: #ff0000;
}
.left_nav_son>li,.left_nav_son>li>a{
    color: #999999;
}


.right_nav_son{
    float: right;
}
.right_nav_son>li{
    float: left;

}
.right_nav_son>li{
    line-height: 35px;


}
.right_nav_son>li{
    font-size: 12px;

}
.welcome{
    margin-left: 42px;
}
.right_nav_son>li{
    margin-left: 23px;
}
.right_nav_son>li,.right_nav_son>li>a{
    color: #999999;
}
.right_nav_son>li>a:hover{
    color: #ff0000;
}
.my_shopping_guide{
    margin-right: 53px;
}

.triangle::after{
    content:'';
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-top-color:#BBBBBB ;
    border-bottom-color:transparent;
    border-left-color:transparent ;
    border-right-color:transparent;
    display: inline-block;
    width: 0;
    vertical-align: middle;

}
.iconfont{
    font-size: 14px;
    color: #ff0036;

}


.taobao:hover,.collect:hover,.sell:hover,.shopping_guidea:hover{
    text-decoration:underline;

}
.thing>li>a,.favorite li>a,.sell_son>li>a {
    color:#666666;
}
.thing>li>a:hover,.favorite li>a:hover,.sell_son>li>a:hover{
    color:#ff0000;
    text-decoration: underline;
}
.shopping_guide  a{
    color:#666666;

}
.shopping_guide a:hover{
    color:#ff0000;
    text-decoration: underline;

}
.thing,.favorite{
    display: none;
}
.right_nav_son li:hover .thing{
    display: block;
}
.right_nav_son li:hover .favorite{
    display: block;
}
.my_taobao,.my_collect,.my_sell{
    position: relative;
}

.my_taobao:hover,.my_collect:hover,.my_sell:hover{
  background-color:#ffffff ;
}
.my_taobao:hover>.thing{
    background-color: white;
}
.my_taobao:hover>.taobao{
      color:#ff0000;
}
.thing,.favorite{
    width: 95px;
    height: 58px;
    position:absolute;
    top:35px;
    border-left: 1px #EEEEEE solid ;
    border-right: 1px #EEEEEE solid ;
    border-bottom: 1px #EEEEEE solid ;
}
.favorite>li{
    margin-top: -1px;
}
.my_collect:hover>.favorite{
    background-color: white;
}
.my_sell:hover>.sell_son{
    background-color: white;
}
.thing>li{
    margin-top: 5px;
    line-height:21px;
    margin-left: 3px;
}
.collect>li{
    margin-top: 1px;
    line-height:21px;
    margin-left: 3px;
}
.my_sell:hover>.sell{
    color: red;
}
.sell_son{
    display: none;
}
.right_nav_son li:hover .sell_son{
    display: block;
}
.sell_son{
    width: 147px;
    height: 180px;
    position:absolute;
    top:36px;
    right: 0;
    border-left: 1px #EEEEEE solid ;
    border-right: 1px #EEEEEE solid ;
    border-bottom: 1px #EEEEEE solid ;
}
.sell_son{
    text-align: left;
}
.shops{
    width: 147px;
}
.sell_son>li{
    float: left;
    margin-top: -10px;
    padding: 0 12px;
}
.dashed{
    width:120px;
    height: 0;
    border-top: 1px dashed #666666;
    margin-top: 9px;
}
.my_shopping_guide{
    position: relative;
}
.guide{
    width: 1205px;
    height: 162px;
    border-color:#EEEEEE ;
    border-style: solid ;
    border-width: 0 1px 1px 1px;
    position:  absolute;
    top: 35px;
    right: 0;
}
.guide>li{
    text-align: left;
}
.guide>li>.first{
    border-right: 1px #F5F5F5  solid;
    width: 485px;
    height: 130px;
    float: left;
}
.guide>li>.second{
    border-right: 1px #F5F5F5 solid;
    width: 485px;
    height: 130px;
    float: left;
}
.first,.second,.three{
    margin-top: 15px;
}
.guide>li>.three{

    width: 227px;
    height: 130px;
    float: left;
}
.my_shopping_guide:hover>ul{
    background-color: white;
}
.guide>li>ul>li{
    float: left;
}
.first>.hot1,.second>.market1,.three>.service-guide1{
    float: none;
    font-size: 16px;
}

.first>.hot1>span,.second>.market1>span,.three>.service-guide1>span{
    margin-right: 12px;
}
.first>li{
    margin-left: 30px;
    margin-right: 20px;
}
.second>li{
    margin-left: 32px;
    margin-right: 41px;
}
.three>li{
    margin-left: 32px;
    margin-right: 20px;
}
.first>.hot1{
    color:#F67B1D;
}
.second>.market1{
    color: #80A6E6;
}
.first>li>a,.second>li>a,.three>li>a{
    color:#666666;
}
.first>li>a:hover{
    color:#F67B1D;
    text-decoration: underline;
}
.second>li>a:hover{
    color: #80A6E6;
    text-decoration: underline;
}
.three>li>a:hover{
    text-decoration: underline;
}
.guide{
    display: none;
}
.my_shopping_guide:hover .guide{
    display: block;
}
.right_roll{
    width: 37px;
    background-color: #000000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 1300px;
}
.right_roll>ul>li> .iconfont{
     color: white;
    font-size: 25px;
 }
.benefit>div{
    color: white;
}
.right_roll>ul>li{
    text-align: center;
    margin-bottom: 25px;
}
.benefit{
    margin-top: 157px;
}
.top_logo{
    height:134px;
    width: 1300px;
}
.top_logo>div.logo{
    width: 180px;
    height: 134px;
    text-align: center;
    line-height:134px ;
    float: left;
}

.-logo{
    width: 180px;
    height: 100px;
}
.logo-right{
    float: left;
    width: 1115px;
    height: 134px;
}
.search{
    width: 627px;
    height: 67px;
    margin-left: 125px;
    margin-top: 38px;
}
.recommend{
    margin-left: -12px;
}
.recommend>li{
    display: inline;
    padding-right: 12px;
    padding-left: 10px;
}
.recommend a{
    color: #CCCCCC;
    text-decoration: none;
    font-size: 14px;
}
.recommend2 a,.recommend4 a{
    color: #FF0036;
}
