*{
    margin:0;
    padding: 0;
}
li{
    list-style: none;
}
.top_nav{
    height: 35px;
    width: 100%;
    background-color: #F2F2F2;
}
.top_nav a{
    text-decoration: none;
}
.common{
    width: 1230px;
    height:100% ;
    margin: 0 auto;
}


.left_nav_son>li{
    float: left;
}
.left_nav_son{
    float: left;
}
.left_nav_son>li {
    line-height: 35px;
}
.left_nav_son>li{
    font-size: 12px;
}
.left_nav_son li{
    margin-right: 21px;
}
.left_nav_son>li>a:hover{
    color: #ff0000;
}
.left_nav_son>li,.left_nav_son>li>a{
    color: #999999;
}
.right_nav_son{
    float: right;
}
.right_nav_son>li{
    float: left;
    line-height: 35px;
    font-size: 12px;
    padding: 0 12px;

}
.right_nav_son>li>a{
    padding: 0 3px;
}
.right_nav_son>li,.right_nav_son>li>a{
    color: #999999;
}
.right_nav_son>li>a:hover{
    color: #ff0000;
}
.my_shopping_guide{
    margin-right: 53px;
}
.triangle::after{
    content:'';
    height: 0;
    width: 0;
    border-width: 3px;
    border-style: solid;
    border-color:#BBBBBB transparent transparent transparent;
    display: inline-block;
}
.triangle:hover::after{
    transform: rotate(180deg);
    transform-origin:3px 1.5px;
    transition: transform .2s linear;
}
.iconfont{
    font-size: 14px;
    color: #ff0036;
}
.triangle:hover{
    border-color: transparent  #BBBBBB  transparent #BBBBBB ;

}
.triangle>a:hover{
    text-decoration:underline;

}
.triangle{
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    cursor: pointer;
}
.triangle>a{
    display: inline-block;
    height: 100%;
}
.thing>li>a,.favorite li>a,.sell_son>li>a {
    color:#666666;

}
.thing>li>a:hover,.favorite li>a:hover,.sell_son>li>a:hover{
    color:#ff0000;
    text-decoration: underline;
}
.thing,.favorite{
    display: none;
}
.right_nav_son li:hover .thing{
    display: block;
}
.my_taobao,.my_collect,.my_sell{
    position: relative;
}
.triangle:hover{
    background-color:#ffffff ;
}
.my_taobao:hover>.thing{
    background-color: white;
}
.triangle:hover>a{
    color:#ff0000;
}

.thing,.favorite{
    padding: 0 10px;
    width: 84px;
    position:absolute;
    top:35px;
    left: -1px;/*因为子元素是与内容对齐的*/
    border-left: 1px #EEEEEE solid ;
    border-right: 1px #EEEEEE solid ;
    border-bottom: 1px #EEEEEE solid ;
}
.thing>li{
    margin-top: 5px;
    line-height:21px;
    margin-left: 4px;
}




.shopping_guide  a{
    color:#666666;

}
.shopping_guide a:hover{
    color:#ff0000;
    text-decoration: underline;

}


.right_nav_son li:hover .favorite{
    display: block;
}


.favorite>li{
    margin-top: -1px;
}
.my_collect:hover>.favorite{
    background-color: white;
}
.my_sell:hover>.sell_son{
    background-color: white;
}
.collect>li{
    margin-top: 1px;
    line-height:21px;
    margin-left: 3px;
}
.my_sell:hover>.sell{
    color: red;
}
.sell_son{
    display: none;
}
.right_nav_son li:hover .sell_son{
    display: block;
}
.sell_son{
    width: 147px;
    height: 180px;
    position:absolute;
    top:36px;
    right: 0;
    border-left: 1px #EEEEEE solid ;
    border-right: 1px #EEEEEE solid ;
    border-bottom: 1px #EEEEEE solid ;
}
.sell_son{
    text-align: left;
}
.shops{
    width: 147px;
}
.sell_son>li{
    float: left;
    margin-top: -10px;
    padding: 0 12px;
}
.dashed{
    width:120px;
    height: 0;
    border-top: 1px dashed #666666;
    margin-top: 9px;
}
.my_shopping_guide{
    position: relative;
}
.guide{
    width: 1205px;
    height: 162px;
    border-color:#EEEEEE ;
    border-style: solid ;
    border-width: 0 1px 1px 1px;
    position:  absolute;
    top: 35px;
    right: 0;
}
.guide>li{
    text-align: left;
}
.guide>li>.first{
    border-right: 1px #F5F5F5  solid;
    width: 485px;
    height: 130px;
    float: left;
}
.guide>li>.second{
    border-right: 1px #F5F5F5 solid;
    width: 485px;
    height: 130px;
    float: left;
}
.first,.second,.three{
    margin-top: 15px;
}
.guide>li>.three{

    width: 227px;
    height: 130px;
    float: left;
}
.my_shopping_guide:hover>ul{
    background-color: white;
}
.guide>li>ul>li{
    float: left;
}
.first>.hot1,.second>.market1,.three>.service-guide1{
    float: none;
    font-size: 16px;
}

.first>.hot1>span,.second>.market1>span,.three>.service-guide1>span{
    margin-right: 12px;
}
.first>li{
    margin-left: 30px;
    margin-right: 20px;
}
.second>li{
    margin-left: 32px;
    margin-right: 41px;
}
.three>li{
    margin-left: 32px;
    margin-right: 20px;
}
.first>.hot1{
    color:#F67B1D;
}
.second>.market1{
    color: #80A6E6;
}
.first>li>a,.second>li>a,.three>li>a{
    color:#666666;
}
.first>li>a:hover{
    color:#F67B1D;
    text-decoration: underline;
}
.second>li>a:hover{
    color: #80A6E6;
    text-decoration: underline;
}
.three>li>a:hover{
    text-decoration: underline;
}
.guide{
    display: none;
}
.my_shopping_guide:hover .guide{
    display: block;
}
.right_roll{
    width: 37px;
    background-color: #000000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 1300px;
}
.right_roll>ul>li> .iconfont{
     color: white;
    font-size: 25px;
 }

.right_roll>ul>li{
    text-align: center;
    margin-bottom: 25px;
}
.benefit{
    margin-top: 157px;
}


/*二维码*/
.phone{
    position: relative;
}
.er-code {
    width: 175px;
    height: 227px;
    background-color: white;
    position: absolute;
    right: -65px;
    top: 32px;
    box-shadow: 0 0 5px #aaa;
    -webkit-box-shadow: 0 0 5px #aaa;
    -moz-box-shadow:0 0 5px #aaa;
    -ms-box-shadow:0 0 5px #aaa;
    -o-box-shadow: 0 0 5px #aaa;

}
.er-code::after{
    content: '';
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position:absolute;
    top:-9px;
    left:70px;
}
.er-code>img{
    float: left;
    margin: 10px;

}
.er-code>.content{
    font-size: 15px;
    color: red;
    font-weight: bold;
    float: left;

}
.content>span{

  float: left;
    margin-left: 40px;
    line-height: 20px;
}
.er-code{
    display: none;
}
.phone:hover>.er-code{
    display: block;
}
.benefit>a{
    display: block;
    width:34px ;
}
.benefit>a:hover{
    background-color: #F2F2F2;
}
.benefit{
    position: relative;
}
.vip{
    color: red;
    position: absolute;
    left:-150px;
    top:-5px;
    background-color: #BBBBBB;
    padding: 5px 10px;
    visibility: hidden;
}
.vip>div{
    width: 0;
    height: 0;
    border-color: #BBBBBB;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    left:79px;
    bottom: 12px;
    transform: rotate(45deg);

}
.benefit:hover>.vip{
    position: absolute;
    left:-90px;
    visibility: visible;
    transition: all .3s ease;


}

/*main-search*/
.main-search .logo,.main-search .search{
    float: left;
    padding-top: 10px;
}
.search>form{
    width: 625px;
    height: 40px;
    border: 2px solid red;
    line-height: 40px;
}
.search .search-text{
    width: 491px;
    height: 36px;
    border: none;
    font-size: 16px;
    color: #aaaaaa;
    text-indent: 10px;


}
.search .search-button{
    width: 132px;
    height: 100%;
    float: right;
    border: none;
    background-color: red;
    font-size: 15px;
    color: white;
    letter-spacing: 5px;
    font-weight: bold;
}
.nav-main li a{
    text-decoration: none;
    color: #BBBBBB;
}
.nav-main li{
    float: left;
    margin-top: 7px;
    padding:0 12px ;
    border-right: 1px solid #BBBBBB;
    font-size: 15px;

}
.nav-main li:first-child{
    padding-left:0 ;
}
.nav-main li:last-child{
    border-right: none;
}
.nav-main li .highlight{
    color: red;
}
.main-search>.common{
    position: relative;

}
.search {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.navigation-bar>li{
    float: left;
    margin-left: 10px;
}

.navigation-bar>li img{
    width: 100px;
    height: 30px;
}
.navigation-bar>li>a{
    text-decoration: none;
    color: #666666;
    font-size: 16px;
}

.navigation-bar>li:first-child{
    margin-left: 210px;
}
.navigation-bar .bar-imgs{
    position: relative;
    top: -3px;
}
.goods-content li a{
   text-decoration: none;
    color: white;
    font-size: 12px;
}
.goods-content li {
    width: 200px;
    height: 36px;
    background-color: rgba(0,0,0,.55);;
    opacity: 0.5;
}
.goods-content>li:first-child{
    background-color: #FF0036;

}
.goods-content>li:first-child a {
    font-size: 17px;
    opacity: 1;
}

.goods-content li i{
    color: white;
}
.goods-content li a{

}




