*{
    margin:0;
    padding: 0;
}
li{
    list-style: none;
}
.top_nav{
    height: 35px;
    width: 1349px;
    background-color: #F2F2F2;
}
.top_nav_left .left_nav_son>li{
    float: left;
}
.top_nav_left{
    float: left;
}

.top_nav_right .right_nav_son>li{
    float: left;

}
.top_nav_right{
    float: right;
}
.top_nav_left .left_nav_son>li {
    line-height: 35px;

}
.top_nav_right .right_nav_son>li{
    line-height: 35px;


}
.top_nav a{
    text-decoration: none;
}
.top_nav_left>.left_nav_son>li{
    font-size: 12px;

}
.left_nav_son>li,.left_nav_son>li>a{
    color: #999999;
}
.welcome{
    margin-left: 42px;
}
.left_nav_son li{
    margin-right: 21px;
}
.left_nav_son>li>a:hover{
    color: #ff0000;
}
.top_nav_right>.right_nav_son>li{
    font-size: 12px;

}
.right_nav_son>li,.right_nav_son>li>a{
    color: #999999;
}
.shopping_guide{
    margin-right: 83px;
}
.right_nav_son>li{
    margin-left: 23px;
}
.triangle{
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-top-color:#BBBBBB ;
    border-bottom-color:transparent;
    border-left-color:transparent ;
    border-right-color:transparent;
    display: inline-block;
    width: 0;
    vertical-align: middle;

}
.iconfont{
    font-size: 14px;
    color: #ff0036;

}

.right_nav_son>li>a:hover{
        color: #ff0000;
}
.taobao:hover,.collect:hover,.sell:hover,.shopping_guidea:hover{
    text-decoration:underline;

}
.thing>li>a,.favorite li>a,.sell_son>li>a {
    color:#666666;
}


.thing>li>a:hover,.favorite li>a:hover,.sell_son>li>a:hover{
    color:#ff0000;
    text-decoration: underline;
}
.shopping_guide  a{
    color:#666666;

}
.shopping_guide a:hover{
    color:#ff0000;
    text-decoration: underline;

}
.thing,.favorite{
    display: none;
}
.right_nav_son li:hover .thing{
    display: block;
}
.right_nav_son li:hover .favorite{
    display: block;
}
.my_taobao,.my_collect,.my_sell{
    position: relative;
}

.my_taobao:hover,.my_collect:hover,.my_sell:hover{
  background-color:#ffffff ;
}
.thing,.favorite{
    width: 95px;
    height: 58px;
    position:absolute;
    top:35px;

    border-left: 1px #EEEEEE solid ;
    border-right: 1px #EEEEEE solid ;
    border-bottom: 1px #EEEEEE solid ;
}
.right_nav_son>li{
    width: 75px;
    text-align: center;
    line-height:35px;

}
.thing>li{
    margin-top: 5px;
    line-height:21px;
    margin-left: 3px;
}
.collect>li{
    margin-top: 1px;
    line-height:21px;
    margin-left: 3px;
}
.sell_son{
    display: none;
}
.right_nav_son li:hover .sell_son{
    display: block;
}

.sell_son{
    width: 147px;
    height: 180px;
    position:absolute;
    top:36px;
    right: 0;
    border-left: 1px #EEEEEE solid ;
    border-right: 1px #EEEEEE solid ;
    border-bottom: 1px #EEEEEE solid ;

}
.sell_son{
    text-align: left;

}
.shops{
    width: 147px;



}
.sell_son>li{
    float: left;
    margin-top: -10px;
    padding: 0 12px;

}
.dashed{
    width:120px;
    height: 0;
    border-top: 1px dashed #666666;
    margin-top: 9px;
}
.my_shopping_guide{
    position: relative;
}

.guide{
    width: 1205px;
    height: 162px;
    border-color:#EEEEEE ;
    border-style: solid ;
    border-width: 0 1px 1px 1px;
    position:  absolute;
    top: 35px;
    right: 0;
}
.guide>li{
    text-align: left;



}

.guide>li>.first{
    border-right: 1px #F5F5F5  solid;
    width: 485px;
    height: 130px;
    float: left;
}
.guide>li>.second{
    border-right: 1px #F5F5F5 solid;
    width: 485px;
    height: 130px;
    float: left;
}
.first,.second,.three{
    margin-top: 15px;
}
.guide>li>.three{

    width: 227px;
    height: 130px;
    float: left;
}

.guide>li>ul>li{
    float: left;
}
.first>.hot1,.second>.market1,.three>.service-guide1{
    float: none;
    font-size: 16px;
}

.first>.hot1>span,.second>.market1>span,.three>.service-guide1>span{
    margin-right: 12px;
}
.first>li{
    margin-left: 30px;
    margin-right: 20px;
}
.second>li{
    margin-left: 32px;
    margin-right: 41px;
}
.three>li{
    margin-left: 32px;
    margin-right: 20px;
}
.first>.hot1{
    color:#F67B1D;
}
.second>.market1{
    color: #80A6E6;
}
.first>li>a,.second>li>a,.three>li>a{
    color:#666666;

}
.first>li>a:hover{
    color:#F67B1D;
    text-decoration: underline;
}
.second>li>a:hover{
    color: #80A6E6;
    text-decoration: underline;
}
.three>li>a:hover{

    text-decoration: underline;
}
.guide{
    display: none;
}
.my_shopping_guide:hover .guide{
    display: block;
}




